@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #2a2e2b;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Muli", sans-serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  text-align: center;
}

.container{
    display: flex;
}

.time{
    display: flex;
    flex-direction: column;
    font-size: 1.2em ;
    margin :0 15px;
}

.time h1{
    margin-bottom: 0px;
}

.time small{
    color:#ccc
}
